body {
  background-position: center;
  background-color: #e2ecf0;
  overflow-x: hidden;
 scroll-behavior:var(--animation-delay);
  }
 
  #dark #fot {
   display: flex;
   justify-content: center;  
   font-family: "Anton", sans-serif;
   font-weight: 400;
   font-style: normal;
   letter-spacing: 10px;
   font-size: 15px;
   margin-top: 100px;
   color: #000000;
 }
 
  #ligth #fot {
    display: flex;
    justify-content: center;  
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 10px;
    font-size: 15px;
    margin-top: 100px;
    color: #000000;
  }
  
 
 #light span {
   color:black;
   letter-spacing: 10px;
   margin-left: 101px;
 }
  #dark span {
    color:rgb(255, 255, 255);
    letter-spacing: 10px;
    margin-left: 101px;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
  @media (max-width: 1207px) {
    body {
         position:relative;  
        
    }
  }
  
  .content {
    color: #000000;
    font-family: 'Orbitron', sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: #000000;
    position: relative;
  }
 
  #flexSwitchCheckChecked {
   width: 100px;
   height: 20px;
   background-color: #01260f;
   border-color: #01260f;
 }
 
  .anton-regular {
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
  }
  
  a {
    position: relative;
    width: 160px;
    height: 50px;
    line-height: 48px;
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-decoration: none;
    transition: 0.5s;
    width: 700px;
  }
  
  a span {
    position: absolute;
    display: block;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    text-align: center;
    background: #0c0c0c;
    color: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
    width: 700px;
  }
  
  .navbar-expand {
    flex-wrap: wrap;
    justify-content: flex-start;
    display: flex;
    align-content: flex-start;
    flex-direction: column;
  }
  
  a.btn.btn-bubble {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  white-space: 50px;
  font-size: 30px;
  }
  
  a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  a.testing {
   font-family: "Bebas Neue", sans-serif;
     font-weight: 400;
     font-style: normal;
     display: flex;
     flex-direction: column;
     background: none;
     border: none;
     outline: none;
     cursor: pointer;
     border-radius: 20px;
     letter-spacing: .35em;
     text-align: center;
     color: black;
     font-size: 20px;
     text-decoration: none;
     width: 350px;
     
  }
 
  a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
 
  #light .drop {
   max-width: 100%;
   display: flex;
   height: 50px;
 margin: 20px;
 background-color: #ffffff;
 border-radius:20px;
 
  }

 #dark a.testing:hover {
  background-color: #3e3c3c;
      letter-spacing: 20px;
      transition: 1s;
   }

   #light a.testing:hover {
    background-color: #e48989;
    letter-spacing: 20px;
    transition: 1s;
     }

  #dark .drop:hover {
   background-color: #e48989;
 transition: 1s;
   box-shadow: 5px 5px 5px 2px #e48989;
 }

 #light .drop:hover {
  background-color: #3e3c3c;
transition: 1s;
  box-shadow: 5px 5px 5px 2px #3e3c3c;
}
 
  h1 {
    font-size: 10px;
  }
  
  #dark .drop {
   max-width: 100%;
   display: flex;
   height: 50px;
 margin: 20px;
 background-color: #3e3c3c;
 border-radius:20px;
  }
 
 
  .wrapper {
 display: flex;
 overflow-x: hidden;
 }
 
 #dark {
   background-color: rgb(37, 36, 36);
 }
 
 #light {
   background-color: #e2ecf0;
   
 }


 
 #dark #reveal-text {
   --animation-delay: var(--delay, 0);
   --animation-duration: var(--duration, 800ms);
   --animation-iterations: var(--iterations, 1);
   position: relative;
   font-size: 10vw;
   animation-name: clip-text;
   color: #000000;
   white-space: nowrap;
   cursor: default;
   font-size: 60px;
   font-family: "Bebas Neue", sans-serif;
   font-weight: 400;
   font-style: normal;
   }
   
 #light #reveal-text {
   --animation-delay: var(--delay, 0);
   --animation-duration: var(--duration, 800ms);
   --animation-iterations: var(--iterations, 1);
   position: relative;
   font-size: 10vw;
   animation-name: clip-text;
   color: #000000;
   white-space: nowrap;
   cursor: default;
   font-size: 60px;
   font-family: "Bebas Neue", sans-serif;
   font-weight: 400;
   font-style: normal;
   }
   
   #dark #fot {
     display: flex;
     justify-content: center;  
     font-family: "Anton", sans-serif;
     font-weight: 400;
     font-style: normal;
     letter-spacing: 10px;
     font-size: 15px;
     margin-top: 100px;
     color: #ffffff;
   }
 
   
   
    #dark #fot {
      display: flex;
      justify-content: center;  
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 10px;
      font-size: 15px;
      margin-top: 20px;
      color: #000000;
      background-color: dimgrey;
      border-radius: 20px;
    }
    
    #light #fot {
      display: flex;
      justify-content: center;  
      font-family: "Anton", sans-serif;
      font-weight: 400;
      font-style: normal;
      letter-spacing: 10px;
      font-size: 15px;
      margin-top: 20px;
      color: #000000;
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
    }
    
    #dark #Mining {
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      -webkit-text-stroke: 2px #000000; 
      background-color: dimgrey;
      border-radius: 20px;
      margin-top: 30px;
      height: 50px;
      max-width: 100%;
    }

    #dark #reveal {
      position: relative;
      font-size: 40px;
      letter-spacing: 15px;
      color: #000000;
      white-space: nowrap;
      cursor: default;
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
    }



    #light #reveal {
      position: relative;
      letter-spacing: 15px;
      
      color: #000000;
      white-space: nowrap;
      cursor: default;
      font-size: 40px;
      font-family: "Bebas Neue", sans-serif;
      font-weight: 400;
      font-style: normal;
    }

img {
  height: 40px;
  width: 40px;
  margin: 20px;
  margin-top: 1%;
  border-radius: 20px;
  margin-left: 10px;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition:         transform .8s ease-in-out;
}

img:hover {
  -webkit-transform: rotate(360deg); /* Градусы поворота можно изменить по необходимости */
          transform: rotate(360deg); /* Градусы поворота можно изменить по необходимости */
}
   


    #light #Mining {
      color: rgb(255, 255, 255);
      display: flex;
      justify-content: center;
      -webkit-text-stroke: 2px #000000; 
      background-color: rgb(255, 255, 255);
      border-radius: 20px;
      margin-top: 30px;
      height: 50px;
      max-width: 100%;
    }

  



 #dark #Stasik {
   color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   -webkit-text-stroke: 2px #000000; 
   background-color: dimgrey;
   border-radius: 20px;
   letter-spacing: 10px;
 }
 
 #light #Stasik {
   color: rgb(255, 255, 255);
   display: flex;
   justify-content: center;
   -webkit-text-stroke: 2px #000000; 
   background-color: rgb(255, 255, 255);
   border-radius: 20px;
   letter-spacing: 10px;
 }
 
 .shape {
   display: flex;
   position: absolute;
   position: absolute;
   width: 200px;
   height: 200px;
   border-radius: 50%;
 }
 
 .toggle-container {
   display: flex;
   flex-direction: column;
   max-width: 100%;
   justify-content: center;
 
 }
 
 #dark .toggle-label {
   display: block;
   width: 40px;
   height: 24px;
   border-radius: 12px;
   background-color: #ffffff;
   cursor: pointer;
   position: relative;
   transition: background-color 0.3s, box-shadow 0.3s;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   margin: 10px;
  
 }
 
 
 #light .toggle-label {
   display: block;
   width: 40px;
   height: 24px;
   border-radius: 12px;
   background-color: #000000;
   cursor: pointer;
   position: relative;
   transition: background-color 0.3s, box-shadow 0.3s;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
   margin: 10px;
 }
 
 #light .toggle-label::before {
   content: "";
   position: absolute;
   top: 2px;
   left: 2px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #ffffff;
   transition: transform 0.7s ease;
 }
 
 
 #dark .toggle-label::before {
   content: "";
   position: absolute;
   top: 2px;
   left: 2px;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: #000000;
   transition: transform 0.7s ease;
 }
 
 #toggle-btn {
 
   display: none;
 }
 
 #toggle-btn:checked + .toggle-label::before {
   transform: translateX(16px);
 }
 #dark .toggle-label:hover {
   background-color: #e48989;
 }
 
 
 #light .toggle-label:hover {
   background-color: #e48989;
 }
 #dark .change-text {
   display: flex;
   font-size: 24px;
   color: #ffffff;
   white-space: nowrap;
   text-transform: capitalize;
   margin-left: 10px;
 }
 
 #light .change-text {
   display: flex;
   font-size: 24px;
   color: #000000;
   white-space: nowrap;
   text-transform: capitalize;
   margin-left: 10px;
 }
 

h1 {
  font-size: 10px;
}


#flex {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

#xlex {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

#min {
  margin-top: -15px;
}


.text-ex-tooltip {
  position: relative;
    margin: 3px;
    letter-spacing: 0.3px;
    display: flex;
    flex-direction: column;
    align-content: center;

  position: relative;

  letter-spacing: 0.3px;
}
.text-ex-tooltip .tooltip-content {
  display: none;
  position: absolute;
  background-color: #3e3c3c; /* Фон подсказки */
  top: 0px;
  text-align: center;
  font-size: 1rem;
  color: rgb(1, 1, 1); /* Цвет текста */
  height: 22px;
  transition: 2s;
 border-radius: 20px;
 letter-spacing: 0.6px;
}
.text-ex-tooltip:hover .tooltip-content {
  display: block;
  -webkit-transform: rotate(360deg); /* Градусы поворота можно изменить по необходимости */
  transform: rotate(360deg);
  transition: 2s;
}
     

#d {
  display: flex;
  margin-top: -20px;
}